.content{
	display: flex;
}

.title {
	padding: 15px;
}


.job-title{
	font-size: 1rem;
	padding: 10px;
}

.job-title, .job-list{
	margin: 0;
}


.ui-state-highlight{
	background: #e0e0e0;
	height: calc(1.5rem + 20px);
}

.dragging{
	transform: rotate(1deg);
}

.btn-flat{
	background: #e53935 ;
	color: white;
}

.modal{
	width: 40%;
}

.collection-item .badge {
	margin-right: -15px;
	padding-right: 0;
}

.collection-item .badge .material-icons{
	font-size: 1.2em;
	transition: all 0.3s linear;
	opacity:0;
}

.collection-item:hover .badge .material-icons{
	opacity: 1;
	background: #e0e0e0;
}



